.whitespace-aside {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-section {
  padding-top: 30px;
}

.banner-section {
  padding-top: 40px;
}

/* info */
.info-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

/* features */
.features-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* plans */
.plans-section {
  padding-top: 50px;
  padding-bottom: 40px;
}

.plan-items-container {
  padding-top: 60px;
}

/* network */
.network-section {
  padding-top: 40px;
}

/* network */
.network__image {
  padding-top: 40px;
}

/* sponser */
.sponser-section {
  padding-top: 40px;
}

/* testimonial */
.testimonial-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.testimonial__items-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* subscription */
.subscription-section {
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-section {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -110px;
  z-index: 5;
}

@media screen and (min-width:768px) {
  /* .whitespace-aside {
    padding-left: 0;
    padding-right: 0;
  } */

  .navbar-section {
    padding-top: 50px;
  }

  .banner-section {
    padding-top: 100px;
  }

  /* info */
  .info-section {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  /* features */
  .features-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* plans */
  .plans-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* network */
  .network-section {
    padding-top: 50px;
  }

  .network__image {
    padding-top: 150px;
  }

  .testimonial-section {
    padding-top: 125px;
  }

  .testimonial__items-container {
    padding-top: 60px;
  }
}


@media screen and (min-width:1200px) {
  .whitespace-aside {
    padding-left: 0;
    padding-right: 0;
  }
}