.navbar-section,
.banner-section,
.info-section,
.features-section {
  background-color: white;
}

.plans-section,
.network-section,
.sponser-section {
  background-color: #fbfbfb;
}
.testimonial-section {
  background: linear-gradient(#fbfbfb, white);
}

/* helper classes */
.d--flex {
  display: flex;
}
.align-items--center {
  align-items: center;
}
.justify-content--between {
  justify-content: space-between;
}
.justify-content--center {
  justify-content: center;
}
.justify-content--end {
  justify-content: flex-end;
}
.flex--column-toggle {
  flex-direction: column;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--column-toggle-reverse {
  flex-direction: column-reverse;
}
.flex--column {
  flex-direction: column;
}
.align-self--center {
  align-self: center;
}
.flex--one {
  flex: 1;
}
.flex--grow-1 {
  flex-grow: 1;
}
.content--width-100 {
  width: 100%;
}

.text--bold-400 {
  font-weight: 400;
}
.text--bold-500 {
  font-weight: 500;
}
.text--bold-700 {
  font-weight: 700;
}
.text--bold {
  font-weight: bold;
}
.text--lineheight-70 {
  line-height: 70px;
}
.text--lineheight-50 {
  line-height: 50px;
}
.text--center {
  text-align: center;
}

.text--size-bg {
  font-size: 50px;
}
.text--size-md {
  font-size: 35px;
}
.text--size-sm {
  font-size: 25px;
}

.text--size-nm {
  font-size: 1rem;
}
.text--size-vm {
  font-size: 0.88rem;
}

.text--bold-nm {
  font-weight: 400;
}

.margin--t-1 {
  margin-top: 0.25rem;
}

.margin--t-2 {
  margin-top: 0.5rem;
}
.margin--t-3 {
  margin-top: 1rem;
}
.margin--t-4 {
  margin-top: 1.5rem;
}
.margin--t-5 {
  margin-top: 3rem;
}
.mobile-only-margin--t-3 {
  margin-top: 1rem;
}
.mobile-only-margin--t-5 {
  margin-top: 3rem;
}
.mobile-only-text--center {
  text-align: center;
}
.mobile-only-justify-content--center {
  justify-content: center;
}

.margin--l-1 {
  margin-left: 0.25rem;
}

.margin--l-2 {
  margin-left: 0.5rem;
}
.margin--l-3 {
  margin-left: 1rem;
}
.beside-mobile-margin--l-3 {
  margin-left: 0rem;
}
.margin--l-4 {
  margin-left: 1.5rem;
}
.margin--l-5 {
  margin-left: 3rem;
}
.mobile-only-margin--l-5 {
  margin-left: 3rem;
}

.margin--b-2 {
  margin-bottom: 0.5rem;
}
.margin--b-3 {
  margin-bottom: 1rem;
}
.beside-mobile-margin--b-3 {
  margin-bottom: 0rem;
}
.margin--b-4 {
  margin-bottom: 1.5rem;
}
.margin--b-5 {
  margin-bottom: 3rem;
}
.mobile-only-margin--b-5 {
  margin-bottom: 3rem;
}

.button {
  background-color: transparent;
  border: 1px solid #f53855;
  color: #f53855;
  font-family: Rubik;
}
.button:hover {
  background-color: #f53855;
  color: white;
  box-shadow: 0px 30px 30px -20px #f53855;
}
.button--rounded {
  height: 45px;
  width: 150px;
  border-radius: 50px;
  font-weight: 500;
}
.button--flat {
  height: 60px;
  width: 200px;
  border-radius: 10px;
  font-weight: 700;
}

/* end-helper class */

.navbar__hamburger--size-sm {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.mobile--hidden-flex {
  display: none;
}

#nav-items-container {
  height: 0px;
  overflow: hidden;
  transition: all 0.2s linear;
}


#nav-items-container.nav-items-container--show {
  height: 220px;
}

.nav-item__link:hover {
  color: #f53855;
}

.banner__image {
  width: 100%;
  max-width: 100%;
}

/* info */
.info__icon-box--rounded {
  height: 55px;
  width: 55px;
  border-radius: 70px;
  background-color: #ffecec;
}

.info-section__box {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
  box-shadow: 0 40px 45px -45px #0d1025;
  border-radius: 10px;
}

.info-item:not(:first-child) {
  border-left: 2px solid #eeeff2;
}

/* features */
.feature__image {
  margin-right: 1em;
}

.beside-mobile__gap {
  flex-basis: 0%;
}

/* plans */
.plans__image-checked {
  margin-right: 1em;
}

.plan-item {
  border: 2px solid #dddddd;
  border-radius: 10px;
}
.plan-item:hover {
  border: 2px solid #f53855;
}
.plans__image-gift {
  height: 165px;
  width: 155px;
}

.plan-item:not(:first-child) {
  margin-top: 3rem;
}

/* sponser */

.sponser__image-container {
  flex-wrap: wrap;
}

.sponser__image {
  width: 200px;
  height: 100px;
}

/* testimonial */
.testimonial__item {
  border: 2px solid #dddddd;
  border-radius: 10px;
  min-height: 230px;
  padding: 2rem;
  width: 100%;
  align-self: flex-start;
}

.testimonial__item:hover {
  border: 2px solid #f53855;
}

.testimonial__image-sm-round {
  height: 50px;
  width: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.testimonial__item {
  margin-top: 1rem;
}

.testimonial__image-control {
  height: 60px;
  width: 60px;
  /* background-color: #F53838; */
  border: 2px solid #f53855;
  border-radius: 50%;
}

.testimonial__image-right {
  transform: rotate(180deg);
}

.testimonial__image-control:hover {
  background-color: #f53855;
  box-shadow: 0px 30px 30px -20px #f53855;
  color: white;
}

/* subscription */
.subscription__box {
  box-shadow: 0 40px 45px -45px #0d1025;
  border-radius: 10px;
  padding: 60px;
  background-color: white;
}

/* footer */

.footer__image-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #f53855;
  background-color: #f53855;
  box-shadow: 0px 30px 30px -20px #f53855;
}

.footer__image-container:hover {
  background-color: #f53855;
  color: white;
  box-shadow: 0px 5px 10px 5px #f53855;
}

.footer__image-container:not(:first-child) {
  margin-left: 1rem;
}

@media screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }

  .mobile-only-margin--t-5 {
    margin-top: 0;
  }
  .mobile-only-margin--t-3 {
    margin-top: 0;
  }
  .mobile-only-text--center {
    text-align: left;
  }
  .mobile-only-justify-content--center {
    justify-content: flex-start;
  }

  .beside-mobile-margin--l-3 {
    margin-left: 1rem;
  }

  .mobile--hidden-flex {
    display: flex;
  }

  .flex--column-toggle {
    flex-direction: row;
  }

  .flex--column-toggle-reverse {
    flex-direction: row;
  }

  .nav-item:not(:first-child) {
    margin-left: 30px;
  }
 
  /* info */
  .info-section__box {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /* features */

  .beside-mobile__gap {
    flex-basis: 10%;
  }

  /* plan */
  .plan-item {
    max-width: 330px;
    min-height: 760px;
  }

  .plan-item:not(:first-child) {
    margin-top: 0rem;
  }

  /* testimonial */
  .testimonial__item:not(:first-child) {
    margin-left: 1.5rem;
  }
  .testimonial__item {
    margin-top: 0rem;
  }
}
